include README.rst
include CHANGELOG.rst
include LICENSE
include AUTHORS.rst
include CONTRIBUTING.rst
include meta.py
include tests/fixtures/README

recursive-include tests *.py
recursive-include tests *.ics
