name: Test

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10", pypy3]

    steps:
    - uses: actions/checkout@master
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install tox
      run: python -m pip install --upgrade tox tox-gh-actions
    - name: Run tox
      run: tox
    - name: Publish coverage
      run:
        rm -rf ./.mypy_cache/;
        bash <(curl https://codecov.io/bash)
